<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<initialize>
				<processor type="Mindshift.SC.AutoPublish.CallAutoPublish" patch:after="processor[@type='Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel']"/>
			</initialize>
		</pipelines>
		<events>
			<event name="item:saved">
				<handler type="Mindshift.SC.AutoPublish.CallAutoPublish" method="OnItemSaved" />
			</event>
		</events>
	</sitecore>
</configuration>