<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<initialize>
				<processor type="Mindshift.SC.AutoPublish.CallAutoPublish" patch:after="processor[@type='Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel']"/>
			</initialize>
		</pipelines>
		<events>
			<event name="item:saved">
				<handler type="Mindshift.SC.AutoPublish.CallAutoPublish" method="OnItemSaved" />
			</event>
			<event name="item:deleted">
				<handler type="Mindshift.SC.AutoPublish.CallAutoPublish" method="OnItemDeleted" />
			</event>
		</events>
		<log4net>
			<appender name="MindshiftSCAutoPublishLogAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
				<file value="$(dataFolder)/Logs/Mindshift.SC/AutoPublish.{date}.txt"/>
				<encoding value="utf-8" />
				<staticLogFileName value="true"/>
				<datePattern value=".yyyyMMdd.'txt'" />
				<rollingStyle value="Date" />
				<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
				<appendToFile value="true" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
				</layout>
			</appender>
			<logger name="MindshiftSCAutoPublishLogger" additivity="false">
				<level value="DEBUG"/>
				<appender-ref ref="MindshiftSCAutoPublishLogAppender"/>
			</logger>
		</log4net>
	</sitecore>
</configuration>