<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="mindshift:adologdetails" type="Mindshift.SC.AdoLogging.Commands.AdoNetLogDetailsCommand,Mindshift.SC.AdoLogging" />
		</commands>
		<log4net>
			<appender name="AdoNetAppender" type="Mindshift.SC.AdoLogging.Appenders.AdoNetAppender, Mindshift.SC.AdoLogging">
				<!--<appender name="AdoNetAppender" type="log4net.Appender.ADONetAppender">-->
				<!--<bufferSize value="1" />-->
				<level value="ERROR" />

				<param name="ConnectionType" value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<param name="connectionStringName" value="log4net"/>
				<param name="CommandText" value="INSERT INTO [Log]([Date],[Thread],[Level],[Logger],[Message],[Exception],[MachineName], [CurrentUser], [Roles], [SitecoreItemID], [SitecoreItemName], [Language], [IpAddress], [ForwardedIpAddress], [HttpReferrer], [HttpUrl], [HttpMethod], [FormVariables], [HttpUserAgent], [HttpQueryString], [HttpCookies]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @MachineName, @CurrentUser, @Roles, @SitecoreItemID, @SitecoreItemName, @Language, @IpAddress, @ForwardedIpAddress, @HttpReferrer, @HttpUrl, @HttpMethod, @FormVariables, @HttpUserAgent, @HttpQueryString, @HttpCookies)" />
				<param name="Parameter">
					<param name="ParameterName" value="@log_date" />
					<param name="DbType" value="DateTime" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%d{yyyy&apos;-&apos;MM&apos;-&apos;dd HH&apos;:&apos;mm&apos;:&apos;ss&apos;.&apos;fff}" />
					</param>
				</param>
				<param name="Parameter">
					<param name="ParameterName" value="@thread" />
					<param name="DbType" value="String" />
					<param name="Size" value="255" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%t" />
					</param>
				</param>
				<param name="Parameter">
					<param name="ParameterName" value="@log_level" />
					<param name="DbType" value="String" />
					<param name="Size" value="50" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%p" />
					</param>
				</param>
				<param name="Parameter">
					<param name="ParameterName" value="@logger" />
					<param name="DbType" value="String" />
					<param name="Size" value="255" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%c" />
					</param>
				</param>
				<param name="Parameter">
					<param name="ParameterName" value="@message" />
					<param name="DbType" value="String" />
					<param name="Size" value="-1" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%m" />
					</param>
				</param>
				<param name="Parameter">
					<param name="ParameterName" value="@exception" />
					<param name="DbType" value="String" />
					<param name="Size" value="-1" />
					<layout type="log4net.Layout.ExceptionLayout" />
				</param>
				<param name="Parameter">
					<param name="ParameterName" value="@MachineName" />
					<param name="DbType" value="String" />
					<param name="Size" value="4000" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%P{MachineName}" />
					</param>
				</param>
				<param name="Parameter">
					<param name="ParameterName" value="@CurrentUser" />
					<param name="DbType" value="String" />
					<param name="Size" value="255" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%P{CurrentUser}" />
					</param>
				</param>
				<param name="Parameter">
					<param name="ParameterName" value="@Roles" />
					<param name="DbType" value="String" />
					<param name="Size" value="255" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%P{Roles}" />
					</param>
				</param>
				<parameter>
					<parameterName value="@SitecoreItemID" />
					<dbType value="String" />
					<size value="255" />
					<layout type="log4net.Layout.PatternLayout">
						<conversionPattern value="%P{SitecoreItemID}" />
					</layout>
				</parameter>
				<param name="Parameter">
					<param name="ParameterName" value="@SitecoreItemName" />
					<param name="DbType" value="String" />
					<param name="Size" value="255" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%P{SitecoreItemName}" />
					</param>
				</param>
				<param name="Parameter">
					<param name="ParameterName" value="@Language" />
					<param name="DbType" value="String" />
					<param name="Size" value="255" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%P{Language}" />
					</param>
				</param>
				<param name="Parameter">
					<param name="ParameterName" value="@IpAddress" />
					<param name="DbType" value="String" />
					<param name="Size" value="255" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%P{IpAddress}" />
					</param>
				</param>
				<param name="Parameter">
					<param name="ParameterName" value="@ForwardedIpAddress" />
					<param name="DbType" value="String" />
					<param name="Size" value="255" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%P{ForwardedIpAddress}" />
					</param>
				</param>
				<param name="Parameter">
					<param name="ParameterName" value="@HttpReferrer" />
					<param name="DbType" value="String" />
					<param name="Size" value="-1" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%P{HttpReferrer}" />
					</param>
				</param>
				<param name="Parameter">
					<param name="ParameterName" value="@HttpUrl" />
					<param name="DbType" value="String" />
					<param name="Size" value="-1" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%P{HttpUrl}" />
					</param>
				</param>
				<param name="Parameter">
					<param name="ParameterName" value="@HttpMethod" />
					<param name="DbType" value="String" />
					<param name="Size" value="255" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%P{HttpMethod}" />
					</param>
				</param>
				<param name="Parameter">
					<param name="ParameterName" value="@FormVariables" />
					<param name="DbType" value="String" />
					<param name="Size" value="-1" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%P{FormVariables}" />
					</param>
				</param>
				<param name="Parameter">
					<param name="ParameterName" value="@HttpUserAgent" />
					<param name="DbType" value="String" />
					<param name="Size" value="255" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%P{HttpUserAgent}" />
					</param>
				</param>
				<param name="Parameter">
					<param name="ParameterName" value="@HttpQueryString" />
					<param name="DbType" value="String" />
					<param name="Size" value="-1" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%P{HttpQueryString}" />
					</param>
				</param>
				<param name="Parameter">
					<param name="ParameterName" value="@HttpCookies" />
					<param name="DbType" value="String" />
					<param name="Size" value="-1" />
					<param name="Layout" type="log4net.Layout.PatternLayout">
						<param name="ConversionPattern" value="%P{HttpCookies}" />
					</param>
				</param>
			</appender>
			<root>
				<appender-ref ref="AdoNetAppender" />
			</root>
		</log4net>
	</sitecore>
</configuration>
