<!-- This template is to enable recursion -->
<script type="text/ng-template" id="renderings.html">
	<div class="title placeholder-title" ng-class="placeholder.Exists ? 'valid': 'invalid'" ng-click="moveItemUnder(placeholder)">
		<div class="new-position" ng-show="view.newPositionRendering && view.newPositionRendering.UniqueId != rendering.UniqueId">
			<span class="glyphicon glyphicon-arrow-right"></span>
		</div>
		<span ng-bind-html="placeholder.Icon"></span>
		{{placeholder.Name}}
		<!--<button ng-click="addRendering(placeholder)" title="add rendering"><span class="glyphicon glyphicon-plus"></span></button>-->
		<button ng-click="setAddRenderingState(device, rendering, placeholder)" title="add child rendering" ng-show="placeholder.Exists"><span class="glyphicon glyphicon-plus"></span></button>
		<div class="add-rendering-panel" ng-show="getAddRenderingState(device, rendering, placeholder)">
			<div class="title">Add Rendering</div>
			<ul>
				<li ng-repeat="placeholderRendering in placeholder.ValidRenderings" ng-click="addRendering(device, placeholder, rendering, placeholderRendering)"><span ng-bind-html="placeholderRendering.Icon"></span> {{placeholderRendering.DisplayName}}</li>
			</ul>
		</div>
	</div>
	<ul>
		<li ng-repeat="rendering in placeholder.Renderings" title="uniqueId: {{rendering.UniqueId}}">
			<div class="title">
				<button ng-show="view.newPositionRendering && view.newPositionRendering.UniqueId == rendering.UniqueId" ng-click="moveItemOrder(rendering, placeholder, 1)" title="move rendering up"><span class="glyphicon glyphicon-chevron-up"></span></button>
				<button ng-show="view.newPositionRendering && view.newPositionRendering.UniqueId == rendering.UniqueId" ng-click="moveItemOrder(rendering, placeholder, -1)" title="move rendering down"><span class="glyphicon glyphicon-chevron-down"></span></button>
				<div class="arrow" ng-click="setOpenState(rendering)" ng-show="rendering.Placeholders.length > 0"><span class="glyphicon" ng-class="getOpenState(rendering) ? 'glyphicon-menu-down': 'glyphicon-menu-right'"></span></div>
				{{rendering.OrderBy}}
				<span ng-bind-html="rendering.Icon"></span>
				{{rendering.DisplayName}} ({{rendering.Placeholders.length}})
				<button ng-click="setMoveState(rendering, placeholder)" title="move rendering"><span ng-class="view.newPositionRendering && view.newPositionRendering.UniqueId == rendering.UniqueId ? 'glyphicon glyphicon-remove': 'glyphicon glyphicon-move'"></span></button>
				<button ng-click="setEditState(rendering)" title="edit rendering" ng-class="{ active: getEditState(rendering) }"><span class="glyphicon glyphicon-edit"></span></button>
			</div>
			<div class="edit-panel" ng-show="getEditState(rendering)">
				<table>
					<tbody>
						<tr>
							<th>UniqueId:</th>
							<td>{{rendering.UniqueId}}</td>
						</tr>

						<tr>
							<th>Datasource:</th>
							<td><input type="text" ng-model="rendering.DataSourcePath" id="FIELD77739897" /></td>
							<td><button ng-show="rendering.DataSourceId" ng-click="editDatasource(rendering)" title="edit datasource"><span class="glyphicon glyphicon-edit"></span></button></td>
							<!--<td><button ng-click="changeDatasource(rendering)" title="change datasource"><img src="/temp/IconCache/Office/16x16/data.png" alt="Associate a content item with this component."></button></td>
							<td><button ng-click="setChangeDatasourceState(rendering)" title="change datasource"><img src="/temp/IconCache/Office/16x16/data.png" alt="Associate a content item with this component."></button></td>-->
						</tr>
						<tr ng-if="getChangeDatasourceState(rendering)">
							<td colspan="4">
								<iframe class="datasource-frame" src="{{rendering.DatasourceLocation}}"></iframe>
							</td>
						</tr>
						<tr>
							<th>Placeholder Path:</th>
							<td><input type="text" ng-model="rendering.PlaceholderPath" /></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!--<div class="new-position" ng-show="view.newPositionRendering">
				<button ng-click="moveItemBetween(rendering)"><span class="glyphicon glyphicon-arrow-right"></span> Move between here</button>
			</div>-->
			<div class="list-body">
				<ul ng-show="getOpenState(rendering)">
					<li ng-repeat="placeholder in rendering.Placeholders" ng-include="'renderings.html'" title="uniqueId: {{rendering.UniqueId}}"></li>
				</ul>
			</div>
		</li>
	</ul>
</script>


<div class="wrapper" ng-controller="DynamicPlaceholdersController">
	<ul class="header nav nav-tabs">
		<li role="presentation" ng-repeat="layoutType in view.data.LayoutTypes" ng-class="{ active: view.currentLayoutType.Name==layoutType.Name }"><a ng-click="setCurrentLayoutType(layoutType)">{{layoutType.DisplayName}} Layout</a></li>
	</ul>
	<div class="dialog-page dialog-list layout-list">
		<ul>
			<li ng-repeat="device in view.currentLayoutType.Devices">
				<div class="arrow" ng-click="setOpenState(device)"><span class="glyphicon" ng-class="getOpenState(device) ? 'glyphicon-menu-down': 'glyphicon-menu-right'"></span></div>
				<div class="listbody">
					<span ng-bind-html="device.Icon"></span>
					{{device.DisplayName}} ({{device.Placeholders.length}})
					<ul ng-show="getOpenState(device)">
						<li ng-repeat="placeholder in device.Placeholders" ng-include="'renderings.html'"></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<div class="footer">
		<button ng-click="saveChanges()"><span class="glyphicon glyphicon-floppy-disk" title="save"></span> Save</button>
		<button ng-click="cancelChanges()"><span class="glyphicon glyphicon-remove" title="save"></span> Cancel</button>
	</div>
</div>