<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>


		<!--<commands>
			<command name="mindshift:setdynamiclayoutdetails" type="Mindshift.SC.Common.Commands.DynamicPlaceholderDialogCommand,Mindshift.SC.Common" />
		</commands>-->

		<pipelines>
      <initialize>
        <processor type="Mindshift.SC.Common.Pipelines.Initialize.ConfigureWebApi, Mindshift.SC.Common"
                   patch:after="processor[@type='Sitecore.Services.Infrastructure.Sitecore.Pipelines.ServicesWebApiInitializer, Sitecore.Services.Infrastructure.Sitecore']" />
      </initialize>
				
			<!--<initialize>
				<processor type="Mindshift.SC.Common.Pipelines.RegisterRoutes, Mindshift.SC.Common" patch:after="processor[@type='Sitecore.Services.Infrastructure.Sitecore.Pipelines.ServicesWebApiInitializer, Sitecore.Services.Infrastructure.Sitecore']" />
			</initialize>-->
			<!--<httpRequestBegin>
				<processor type="Mindshift.SC.Common.Pipelines.AbortSitecoreForKnownRoutes, Mindshift.SC.Common"/>
			</httpRequestBegin>-->
		</pipelines>

		<settings>
			<!--  SITECORE SERVICES SECURITY POLICY
Specifies the Sitecore.Services.Infrastructure.Web.Http.Security.IAuthorizePolicy derived type that will set the security policy 
for the Sitecore services.
Policies:
Sitecore.Services.Infrastructure.Web.Http.Security.ServicesOffPolicy, Sitecore.Services.Infrastructure
- Policy denies access to all Entity and Item Services
Sitecore.Services.Infrastructure.Web.Http.Security.ServicesLocalOnlyPolicy, Sitecore.Services.Infrastructure
- Policy denies access to all Entity and Item Services from requests originating from remote clients
Sitecore.Services.Infrastructure.Web.Http.Security.ServicesOnPolicy, Sitecore.Services.Infrastructure
- Policy allows access to all Entity and Item Services
Default: Sitecore.Services.Infrastructure.Web.Http.Security.ServicesLocalOnlyPolicy, Sitecore.Services.Infrastructure      
-->
			<setting name="Sitecore.Services.SecurityPolicy" value="Sitecore.Services.Infrastructure.Web.Http.Security.ServicesOnPolicy, Sitecore.Services.Infrastructure" />

		</settings>



	</sitecore>
</configuration>